---
const { title = 'InkLayer' } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
      <link rel="icon" href="/public/favicon.ico" />
        <meta name="description" content="InkLayer is a production-grade PDF annotation infrastructure for building and maintaining document-heavy systems." />
    </head>

    <body class="bg-slate-950 text-slate-100 antialiased">
        <!-- Header -->
        <header class="border-b border-slate-800">
            <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">
                <div class="flex items-center font-semibold tracking-tight">
                    <a href="https://inklayer.dev" class="flex items-center space-x-2 hover:text-white transition">
                        <img alt="InkLayer Logo" src="/images/logo.svg" class="h-8 w-auto" />
                        <span class="text-lg">InkLayer</span>
                    </a>
                </div>

                <nav class="text-md text-slate-300 flex gap-10">
                    <a href="/docs" class="hover:text-white transition"> Docs </a>
                    <a href="https://github.com/Laomai-codefee/inklayer" class="hover:text-white transition"> GitHub </a>
                </nav>
            </div>
        </header>

        <!-- Page -->
        <main>
            <slot />
        </main>

        <!-- Footer -->
        <footer class="border-t border-slate-800 mt-32">
            <div class="max-w-7xl mx-auto px-6 py-12 text-sm text-slate-400">
                © {new Date().getFullYear()} InkLayer. Built for production systems.
            </div>
        </footer>
    </body>
</html>
